body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: rgb(0, 0, 0);
  }   

#check{
    display: none;
}

.miniPoke_Titulo{
    height: 35px;
}

#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 1%;
}
.barra{
  border-radius: 15px;
  background-color: #2e1ca86e;
  height: 100%;
  width: 300px;
  position: absolute;
  transition: all .2s linear;
  left: -300px;
  top: 98px; 
  display: flex;
  justify-content: end;
  margin-bottom: 0%;
}
nav{
    width: 100%;
    position: absolute;
    /* top: 60px; */
}

nav a {
    text-decoration: none ;
}
.link{
  border-radius: 15px;
  background-color: #10084296;
  padding: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  transition: all .2s linear;
  color: #f4f4f9;
  border-bottom: 2px solid rgb(34, 34, 34);
  opacity: 0;
  margin-top: 90px;

}
.link:hover{
  background-color: #4f39dd98;

}
#check:checked ~ .barra{
transform: translateX(300px);

}
#check:checked ~ .barra nav a .link{
opacity: 1;
margin-top: 0;
transition-delay: .3s;

}


.container {
    width: 80%;
    margin: auto;
    
}

    .header {
      background-color: #c4f1f8;
      border-radius: 20px;
      color: #32B9CD;
      border-bottom: 5px solid #32B9CD;
      border: 3px solid #32B9CD;
  }


.header .container {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid pink; */
}

.header a {
    text-decoration: none;
    color: #32B9CD;
}

.avatar_index_foto{
  height: 12vh;
  margin-left: 165%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  border-radius: 50px;
  border: 2px solid #32B9CD;
}





/* Meio cadastro */

#div_cadastro {
  align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 150vh;
    background-image: url("../assets/gif/Pikachu-Animation.gif");
    background-repeat: no-repeat;
  }
  
  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 620px;
    padding: 20px;
    width: 380px;   
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: rgb(173, 32, 32);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;   
    margin-top: 30px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #978080;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  .loading-div {
    width: 50px;
    /* border: 3px solid pink; */
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}
  /* FOOTER */
  
  .footer {
      background-image: url("../assets/imgs/unnamed-azul.webp");
      background-color: #aae6f0;
      height: 250px;
      color: rgb(0, 0, 0);
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      background-repeat: no-repeat;
      background-size: 110%;
      
  }
  
  .footer .container {
      display: flex;
      justify-content: center;
  }
  
  h4 {
      margin: 0;
      padding: 0;
  }