    body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: rgb(0, 0, 1);
   
}


#check{
    display: none;
}

.miniPoke_Titulo{
    height: 35px;
}


#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 1%;
}
.barra{
    border-radius: 15px;
    background-color: #2e1ca86e;
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
    /* top: 98px;  */
    display: flex;
    justify-content: end;
    margin-bottom: 0%;
    
}
nav{
    width: 100%;
    position: absolute;
    /* top: 60px; */
}

nav a {
    text-decoration: none ;
}
.link{
    border-radius: 15px;
    background-color: #10084296;
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid rgb(34, 34, 34);
    opacity: 0;
    margin-top: 90px;

}
.link:hover{
    background-color: #4f39dd98;

}
#check:checked ~ .barra{
transform: translateX(300px);

}
#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay: .3s;
    
}


.container {
    width: 80%;
    margin: auto;
    
}

.header {
    background-color: #c4f1f8;
    border-radius: 20px;
    color: #32B9CD;
    border-bottom: 5px solid #32B9CD;
    border: 3px solid #32B9CD;
}

.header .container {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid pink; */
}

.header a {
    text-decoration: none;
    color: #32B9CD;
}

.avatar_index_foto{
    height: 12vh;
    margin-left: 165%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border-radius: 50px;
    border: 2px solid #32B9CD;
}

/* BANNER */

.banner {
    border-radius: 20px;
    height: 45vh;
    color: white;
    border: 0.5px solid #32B9CD;
    background-image: url("../assets/gif/4732.gif");
    background-size: 67%;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 99%;
    margin-left: 0.4%;
}
.banner2 {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 24px;
    height: 90vh;
    width: 80%;
    color: white;
    border: 0.5px solid#32B9CD;
    background-image: url("../assets/imgs/fundo.jpg");
    background-size: 100%;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position-x: center;
 }
 
 
 .banner3 {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 24px;
    height: 140vh;
    width: 80%;
    color: white;
    border: 0.5px solid#32B9CD;
    background-image: url("../assets/imgs/pokemon-raichu.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-x: center;
    
   
} 
 .banner4 {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 24px;
    height: 100vh;
    width: 80%;
    color: white;
    border: 0.5px solid#32B9CD;
    background-image: url("../assets/imgs/palletTown3dnigth.jpg");
    background-size: 100%;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-position-x: center;
} 

.banner .container {
    /* border: 3px solid green; */
    height: 100%;
    display: flex;
    align-items: center;
}
.banner2 .container2 {
    /* border: 3px solid green; */
    height: 100%;
    display: flex;
    /* align-items: center; */
}
.banner3 .container3 {
    /* border: 3px solid green; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content : center;  
}

.banner4 .container4 {
    /* border: 3px solid green; */
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.banner4 h2{
    font-size: 25px;
    font-family: serif;
}


.Novidades{
    height: 90%;
    width: 100%;
    margin: 5%;
    /* background-color: #6bfdf67a; */
    display: flex;
    border-radius:65px;
    justify-content: center;
    align-items: center;
    
}

.News_esquerdo{
    background-color: rgba(2, 31, 2, 0.459) ;
    height: 99%;
    width: 30%;
    border-radius:50px;
    /* margin: 5px; */
    border: rgb(255, 255, 255) solid 3px;
    
}
.News_direito{
    background-color:rgba(2, 31, 2, 0.459) ;
    height: 99%;
    width: 70%;
    border-radius:50px;
    /* margin: 5px; */
    justify-content: center;
    align-items: center;
    border: rgb(255, 255, 255) solid 3px;
    
}

.news1{
    border-radius:50px;
    justify-content: center;
    align-items: center;
    /* background-color: darkorchid; */
    margin: 3%;
    margin-left: 75px;
    width: 85%;
    height: 45%;
    display: flex;
}

.news1:hover{
    border: solid white 1px;
}
.news2:hover{
    border: solid white 1px;
}


.news2{
    border-radius:50px;
    justify-content: center;
    align-items: center;
    /* background-color: darkorchid; */
    margin: 1%;
    margin-left: 75px;
    width: 85%;
    height: 45%;
    display: flex;
}
.News_direito a{
    text-decoration: none
}
.News_esquerdo a{
    text-decoration: none
}

.part1{ 
    background-image: url('../assets/imgs/maxresdefault\ \(2\).jpg');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 160%;
    border-top-left-radius :50px;
    border-bottom-left-radius :50px;
    background-color: rgb(20, 255, 255);
    width: 60%;
    height: 100%;
    
}
.part2{ 
    border-top-right-radius :50px;
    border-bottom-right-radius :50px;
    background-color: rgba(255, 20, 145, 0.616);
    width: 40%;
    height: 100%;
    
    
}
.part2 p{
    margin: 2px;
    font-family: cursive;
    color: ghostwhite;
    font-size: 13px;
}
.part2 h2{
    margin: 10px;
    font-family: cursive;
    font-size: x-large;
    color: rgb(0, 0, 0);
}
.part3{ 
    background-image: url('../assets/imgs/pokemon-evolutions-11-en.png');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: 125%;
    border-top-left-radius :50px;
    border-bottom-left-radius :50px;
    background-color: rgb(20, 255, 255);
    width: 60%;
    height: 100%;
    
}
.part4{ 
    border-top-right-radius :50px;
    border-bottom-right-radius :50px;
    background-color: rgba(0, 0, 0, 0.459);
    width: 40%;
    height: 100%;
    
    
}
.part4 p{
    margin: 10px;
    font-family: cursive;
    color: ghostwhite;
}
.part4 h2{
    margin: 15px;
    font-family: cursive;
    font-size: x-large;
    color: darkgoldenrod;
}



.novo1{
    background-color: rgba(0, 0, 0, 0.459);
    height: 30%;
    width: 80%;
    margin: 5%;
    margin-left: 10%;
    border-radius: 15px;
}
.novo2{
    background-color: rgba(0, 0, 0, 0.459);
    height: 30%;
    width: 80%;
    margin: 5%;
    margin-left: 10%;
    border-radius: 15px;
}
.novo3{
    background-color: rgba(0, 0, 0, 0.459);
    height: 30%;
    width: 80%;
    margin-left: 10%;
    border-radius: 15px;
    
}

.novo1:hover{
    border: solid white 1px;
}
.novo2:hover{
    border: solid white 1px;
}
.novo3:hover{
    border: solid white 1px;
}

.prt1{
    border-top-right-radius :15px;
    border-top-left-radius :15px;
    height: 60%;
    width: 100%;
    background-image: url(../assets/imgs/pokeday-parade2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.prt2 p{
    margin: 5px;
    font-family: cursive;
    color: ghostwhite;
    font-size: small;
}

.prt3{
    border-top-right-radius :15px;
    border-top-left-radius :15px;
    height: 60%;
    width: 100%;
    background-image: url(../assets/imgs/brilliant-diamond.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.prt4 p{
    margin: 5px;
    font-family: cursive;
    color: ghostwhite;
    font-size: x-small;
}
.prt5{
    border-top-right-radius :15px;
    border-top-left-radius :15px;
    height: 60%;
    width: 100%;
    background-image: url(../assets/imgs/pokemon-evolutions-169-en.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.prt6 p{
    margin: 10px;
    font-family: cursive;
    color: ghostwhite;
    font-size: small;
}

.banner p {
    /* border: 3px solid cyan; */
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
    margin-right: 95%;
}

    

.banner span {
    font-weight: 800;
}

/* Efeito maquina de escrever */
.titulo-principal{
    max-width: 480px;
    text-align: center;
    margin: 60px auto;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
}
.titulo-principal:after{
 content: '|';
 margin-left: 4px;
 opacity: 1;
 animation: pisca .7s infinite;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}


.conhece  {
   margin-top: 50px;
width: 40%;
height: 80px;
/* flex-direction: column; */
font-family: cursive;
font-weight: bolder;
background-color: rgba(149, 153, 153, 0.424);
border-radius:20px   ;

}


.conhece h2 {
font-size: 15px;


}


.informa {
    font-weight: bolder;
    color: rgb(0, 0, 0);
    background-color: rgba(227, 231, 231, 0.424);
    font-family: cursive;
    width: 60%;
    height: 170px;
flex-direction: column;
border-radius:15px   ;
/* margin: 15px; */
/* padding: 10px; */
margin-bottom: 50px;

}



/* versions */
#versions {


    display : flex;
    align-items : center;
    justify-content : center;  
    
    min-height :200px;
}

.container_versions {
    position : relative;
    width : 1000px;
    display : flex;
    align-items : center;
    justify-content : center;
    padding : 40px;  
    margin: 100px;
  }
  .container_versions p{
    color: rgb(0, 0, 0);
    font-weight: bolder;
  }
  .container_versions .card {
    position: relative;
    max-width : 200px;
    height : 215px;  
    
    margin : 40px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 5px rgba(0,0,0,0.5);
    transition : 0.5s ease-in-out;
    border-radius : 15px;
  }

  .container_versions #card0{
    background-color : #d3382a88;
  }
  .container_versions #card1{
    background-color : #e2cc526e;
  }
  .container_versions #card2{
    background-color : #52e7348c;
  }

  #Ver_mais{
    text-decoration: none
  }
  .container_versions .card:hover {
    height : 320px;    
  }
  #img_version{
    width : 200px;
    height : 200px;
  }
  
  .container_versions .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    
    top : -40%;
    left: 8px;
    box-shadow : 0 5px 5px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .container_versions .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .container_versions .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .container_versions .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }

/* FOOTER */

.footer {
    background-image: url("../assets/imgs/unnamed-azul.webp");
    background-color: #aae6f0;
    height: 250px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 110%;
   
}

.footer .container {
    display: flex;
    justify-content: center;
}

h4 {
    margin: 0;
    padding: 0;
}