body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    background-color: rgb(252, 252, 252);
}


#check{
    display: none;
}
#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
}
.barra{
    background-color: rgba(100, 3, 3, 0.802);
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
}
nav{
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none ;
}
.link{
    background-color: rgba(214, 23, 23, 0.624);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #222;
    opacity: 0;
    margin-top: 200px;

}
.link:hover{
    background-color: #460303;

}
#check:checked ~ .barra{
transform: translateX(300px);

}
#check:checked ~ .barra nav a .link{
opacity: 1;
margin-top: 0;
transition-delay: .2s;

}


.container {
    width: 80%;
    margin: auto;
}

.header {
    color: #32B9CD;
    border-bottom: 3px solid #32B9CD;
    /* border: 3px solid yellow; */
}

.header .container {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid pink; */
}

.header a {
    text-decoration: none;
    color: #E3B062;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: #E3B062;
    /* border: 3px solid green; */
}
/* BANNER */

.banner {
    height: 1000px;
    color: white;
    /* border: 3px solid yellow; */
    background-image: url("./imagens e icones/fundo.jpg");
    background-size: cover;
}

.banner .container {
    /* border: 3px solid green; */
    height: 500px;
    display: flex;
    align-items: center;
}

.banner p {
    /* border: 3px solid cyan; */
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
    margin-left: 350px;
}

.banner span {
    font-weight: 800;
}